body{
background-image:url('../images/Carina_Dwarf_Galaxy.jpg');
font-family:Ubuntu,Tahoma;
}
p{
 margin:5px;

}

header{
width:80%;
height:130px;
background-image:url('../images/pictures_1920x1200_2011_Space_Galaxy_027637_.jpg');
color:white;
margin-right:auto;
margin-left:auto;
padding:5px;
overflow:hidden;
}
hgroup{
width:70%;
float:left;


}

hgroup h1{
padding-top:0;
line-height:1em;
}
hgroup h2{
text-transform:uppercase;
line-height:1em;
font-size:1.2em;
}

nav{

width:30%;
float:right;
color:white;
}

nav ul{
list-style-type:none;

}

nav li{
float:left;
margin-right:5px;
}

img {
float:right;
margin:0px 0px 10px 10px;
/*box-shadow: 3px 3px 5px 1px #cccccc;*/
background-color:white;
}

section{
width:80%;
height:500px;
margin-right:auto;
margin-left:auto;
padding:10px;
font-size:20px;
font-family:"Comic Sans MS", cursive, sans-serif;
font-style:"italic";
}

#mid{
background-image:url('../images/pictures_1920x1200_2011_Space_Galaxy_027637_.jpg');
color:white;
width:80%;
margin-right:auto;
margin-left:auto;
padding:5px;
overflow:hidden;
}


h1{
margin:0;
padding:0;
padding-top:10px;
font-size:2em;
}

footer{

width:80%;
height:30px;
background-color:black;
color:white;
margin-right:auto;
margin-left:auto;
padding:10px;
}

.my_linkable_button {
    background: none repeat scroll 0 0 #075482;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 26px;
    padding: 8px;
}